body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #d7f5b5;
  width:350px;
  margin: auto;
  justify-content:center;
  text-align: center;
}
.red{
width:30px;
height:30px;
background-color: red;}

table {
    justify-content: center;
}

.blue{
width:30px;
height:30px;
background-color: blue;}

.normal{
width:30px;
height:30px;
background-color: #ebeaca;}




